/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#menu {
    background-color: #008d83 !important;
}

#logo-utp{
    width: 140px;
    margin-right: 20px;
}

#logo-utp:hover {
    opacity: 0.9;
    transition: 0.5s;
}

.navbar a {
    color: rgba(255, 255,255, 0.8) !important;
}

.navbar a:hover {
    color: silver !important;
    transition: 0.2s;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.btn-success {
    background-color: #008d83 !important;
    color: white !important;
    border: #008d83;
}

.btn-success:hover {
    background-color: #008d83 !important;
    color: white !important;
    opacity: 0.9;
    transition: 0.5s;
    border: #008d83;
}

.btn-info {
    background-color: #17a2b8 !important;
    color: white !important;
    border: #17a2b8;
}

.btn-info:hover {
    background-color: #17a2b8 !important;
    color: white !important;
    opacity: 0.9;
    transition: 0.5s;
    border: #17a2b8;
}

.even {
    background-color: #454d55 !important;
}

/* Provide sufficient contrast against white background */
a {
    color: #008d83 !important;
}

a:hover {
    color: #008d83 !important;
}

/*
    About us
*/
.bg-1 {
    background-color: #008d83; /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: white;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
    background-color: #008d83 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    color: white;
}

.footer .container {
    color: white;
}

.footer .container a{
    color: white;
}