@model SimuladorGerenciaMemoria.Models.Simulation

@{
    ViewData["Title"] = "Apagar Simulação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Apagar Simulação</h1>
<hr />
<h4>Você tem certeza em prosseguir com a remoção dessa simulação?</h4>
<h4>Todas os dados e memórias vinculadas há mesma serão removidas.</h4>
<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Simulação
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Usuário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Apagar" class="btn btn-danger" />
    </form>
    <br/>
    <br/>
    <a asp-action="Index">Voltar para a lista</a>
</div>
