@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <hr />
</div>

<h1>Dashboard</h1>

<div>
    <hr />
</div>

<link rel="stylesheet" href="~/css/Chart.min.css" />
<script src="~/js/Chart.min.js"></script>