@model SimuladorGerenciaMemoria.Models.Memory

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Memória</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="Size" />
            <input type="hidden" asp-for="FramesSize" />
            <input type="hidden" asp-for="FramesQTD" />
            <input type="hidden" asp-for="SimulationID" />
            <input type="hidden" asp-for="IsGeneratedProcessList" />
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="IsBestFitCompleted" />
            <input type="hidden" asp-for="IsFirstFitCompleted" />
            <input type="hidden" asp-for="IsWorstFitCompleted" />
            <input type="hidden" asp-for="IsNextFitCompleted" />
            <input type="hidden" asp-for="InitialProcessMin" />
            <input type="hidden" asp-for="InitialProcessMax" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @if (!Model.IsGeneratedProcessList)
            {
                <div class="form-group">
                    <label class="control-label">Preenchimento inicial da memória</label>
                    @Html.DropDownList("InitialState",
                        Html.GetEnumSelectList<Memory.InitialStatePickList>(),
                        "Selecione...", new { @class = "form-control" })
                </div>
            }
            else
            {
                <input type="hidden" asp-for="InitialState" />
            }

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.MemoryID">Voltar para detalhes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
